@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
body{
    background-image:url(../Images/background.jpg); 
     background-size: cover;
    color: rgb(50, 50, 50);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding:0% 5%;
    max-width: auto;
    min-width: 320px;
}

.avatar{
    width: 306;
    height: 367;
    border-radius: 160px;
}

.ul_first{
        list-style: none;
        margin-top: 5;
}


h1{
    font-style: italic;
display: inline-block;
align-items: flex-start;
margin-bottom: 0%;
}

h3{margin-top: 0%;
font-style: italic;
}

a{
color: black;
font-style: italic;
cursor: pointer;
}

a:visited{
    color:blueviolet;
}

.about_me{
display: flex;
}

.about_me_text{
margin-left: 50px;
}

 hr{
    height: 5 px;
}

p {
    margin: 0px;
    padding: 0px;
    }

.form_item label{
display: block;
font-size: 14;
    }
.form_item input{
    min-width: 200px;
    height: 25px;
    font-family: inherit;
    border-radius: 10px;
}

.form_item textarea{
    min-width: 200px;
    height: 50;
    font-family: inherit;
    border-radius: 10px;
    resize: vertical;
    padding: 10px;
  }

.send_to_me{
    margin-top: 5px;
    font-family: inherit;
    cursor: pointer;
    background-color: rgb(175, 175, 175);
        }
.send_to_me:hover{
    background-color: rgb(140, 140, 140);
}

.send_to_me:active{
    background-color: rgb(140, 140, 140);
    color:blueviolet;
}

@media (max-width: 660px) {
        .about_me{
        display:contents;
        }
}

@media (max-width: 660px) {
    .avatar{
        width: 306;
        height: 367;
        border-radius: 160px;
        display: block;
        margin: auto;
    }
}

.mail_me {
       width: 50;
       height: 50;
    }

.phone_me{
    width: 50;
       height: 50;
}

.contact_me{
    display: flex;
    justify-content: center;
   }

   .mail_me:hover{
    transform: scale(1.1);
   }

   .phone_me:hover{
    transform: scale(1.1);
   } 
